@font-face {
    font-family: symbols;
    src: url(../fonts/fa-solid-900.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100vh;
}

canvas {
    display: block;
    margin: 0 auto;
    background-color: cornsilk;
}

.canvas-container {
    background-color: brown;
    margin: 0 auto;
    width: 90vw;
    height: 700px;
}

.tools-user {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(110, 223, 17, 0.459);
    height: 50vh;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.tools-user>* {
    margin-bottom: 5px;
}

.tools-user select {
    height: 45px;
    width: 170px;
    font-size: 20px;
    background-color: lightcoral;
    border: none;
}

.tools-user input {
    height: 45px;
    width: 100px;
    font-size: 20px;
}

.tools-user span {
    width: 170px;
    background-color: rgba(137, 43, 226, 0.363);
    font-size: 20px;
    text-align: center;
}

.tools-user button {
    height: 45px;
    width: 170px;
    background-color: rgb(206, 226, 209);
    font-size: 20px;
    border: none;
    border-radius: 2rem;
}

.tools-user a {
    height: 45px;
    width: 170px;
    background-color: blueviolet;
    font-size: 20px;
    border-radius: 2rem;
}

.btn-modal-opt {
    position: fixed;
    right: 20px;
    bottom: 15px;
    height: 50px;
    width: 50px;
    font-family: symbols;
}

.btn-modal-opt:after {
    content: '\f085';
    font-size: 48px;
}

.copy {
    position: fixed;
    top: 50%;
    background-color: darkgrey;
    height: 50px;
    cursor: pointer;
}